<div class ="row">
  <div class = "col m3 ">
       business news can go here
  </div>
  <div class = "col m8">
   <div>
   <canvas id="myChart"></canvas>
   </div>
   <input type="hidden" id="chartdata" value="2">
   <input type="hidden" id="chartdata2" value="4">
   <button onclick="graphMe()">Update Graph</button>
   </div>
   <div class = "col m1">
  </div>
</div>