





    <div class ="row">



        <div class = "col m3 ">
            business news can go here
        </div>

        <div class = "col m8">
<canvas id="myChart"></canvas>
<canvas id="myLineChart"></canvas>


        </div>

        <div class = "col m1">


        </div>



    </div>














