   <div class ="row">



        <div class = "col m3 ">
            business news can go here
        </div>

        <div class = "col m8">
        #if(!$email == null)
        <h2>Welcome</h2>
        <h4>Logged in as $email.</h4>
        #else
        <h2>Welcome</h2>
        <p>Please click here to <a href="/signup">signup</a></p>
        #end
        </div>

        <div class = "col m1">


        </div>



    </div>